@{
    ViewData["Title"] = "Jugar";
}

<h1>Jugar</h1>
<br />
<br />
<div class="row">
    @foreach (var jugadores in Model)
    {
        <div >
            <div class="card" >
                <div class="card-header text-center">
                    @jugadores.nombre
                </div>
                @foreach (var cartas in jugadores.mano)
                {
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            @cartas.numero
                        @if (cartas.palo == 1)
                        {<span>Picas</span>}
                        @if (cartas.palo == 2)
                        {<span>Tréboles</span>}
                        @if (cartas.palo == 3)
                        {<span>Corazones</span>} 
                        @if (cartas.palo == 4)
                        {<span>Diamantes</span>} 
                    </li>
                </ul>
            }
            </div>
        </div>
    }
</div>
